<a href="/groups">Dash Board</a>


<h1><%= @group.name %></h1>
<h2><%= @group.description %></h2>


<h3>Created by: <%= @group.user.first_name %> <%= @group.user.last_name%></h3>

  <% if @group.members_joined.exists?(id: current_user.id) %>
  	<form action="/groups/unjoin" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="group_id" value="<%= @group.id %>">
		<input type="hidden" name="user_id" value="<%=current_user.id %>">
  		<input type="submit" value="Leave Group">
  	</form>
  <% else %>
  	<form action="/groups/join" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="group_id" value="<%= @group.id %>">
  		<input type="submit" value="Join Group">
  	</form>
  <% end %>		

<h3>Members:</h3>

<% @group.members.each do |member| %>
<p> <%= member.user.first_name %> <%= member.user.last_name %></p>
<% end %>
